@model HomeViewModel

<form method="post">
    <div class="mb-3 row">
        <input asp-for="@Model.ToDo.Title" class="form-control" />
        <button type="submit" class="btn btn-primary">@(Model.ToDo?.Id != 0 ? "Update" : "Create")</button>
    </div>
</form>


<table class="table text-center">
    <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">@nameof(Daily.Name)</th>
            <th scope="col">@nameof(Daily.Streak)</th>
            <th scope="col">@nameof(Daily.Tags)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Daily task in Model.Dailies)
        {
            <tr>
                <th scope="row">
                    <input type="checkbox" onclick="check(this, @task.Id)"/>
                </th>
                <td>
                    @task.Name
                </td>
                <td>
                    @task.Streak
                </td>
                <td>
                    @string.Join(",", task.Tags.Select(a => a.Name))
                </td>
            </tr>
        }
    </tbody>
</table>