@model HomeViewModel

<form method="post" action="@Url.Action("QuickAddDaily", "Home")">
    <div class="mb-3 row">
        <input asp-for="@Model.Daily.Name" class="form-control" />
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>


<table class="table text-center">
    <thead class="thead-light">
        <tr>
            <th scope="col" class="col col-lg-2"></th>
            <th scope="col" class="col-md-auto">@nameof(Daily.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Daily task in Model.Dailies)
        {
            <tr>
                <th scope="row">
                    <input type="checkbox" onclick="check(this, @task.Id, '@Url.Action("CheckDaily", "Task")')" />
                </th>
                <td>
                    @task.Name
                    <p style="font-size: 0.8em" class="m-0 p-0"><small>@string.Join(",", task.Tags.Select(a => a.Name))</small></p>
                </td>
            </tr>
        }
    </tbody>
</table>