@model HomeViewModel

<form method="post" action="@Url.Action("QuickAddHabitWithTags", "Home")">
    <div class="mb-3 row">
        <input asp-for="@Model.Habit.Name" class="form-control" />
        <button type="submit" class="btn btn-primary">@(Model.Habit?.Id != 0 ? "Update" : "Create")</button>
    </div>
</form>
<table class="table text-center">
    <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">@nameof(Habit.Name)</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody >
        @foreach (Habit task in Model.Habits)
        {
            <tr>
                <th scope="row">
                    @if( task.PositiveValue != null)
                    {
                        <button class="btn-sm btn-dark" type="submit">
                            <a asp-controller="Task" asp-action="IncreaseStreaks" asp-route-id="@task.Id" asp-route-positive="true" asp-route-negative="false">
                                <i class="bi bi-patch-plus text-success"></i>
                            </a>
                        </button>
                        <p style="font-size: 0.8em" class="m-0 p-0"><small>@task.StreakPositive</small></p>
                    }
                </th>
                <td>
                    @task.Name
                    <p style="font-size: 0.8em" class="m-0 p-0"><small>@string.Join(",", task.Tags.Select(a => a.Name))</small></p>
                </td>
                <td>
                    @if (task.NegativeValue != null)
                    {
                        <button class="btn-sm btn-dark" type="submit">
                            <a asp-controller="Task" , asp-action="IncreaseStreaks" asp-route-id="@task.Id" asp-route-positive="false" asp-route-negative="true">
                            <i class="bi bi-patch-minus text-danger"></i>
                        </a>
                        </button>
                        <p style="font-size: 0.8em" class="m-0 p-0">@task.StreakNegative</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>