@model HomeViewModel
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">@nameof(Habit.Name)</th>
            <th scope="col">@nameof(Habit.PositiveValue)</th>
            <th scope="col">@nameof(Habit.NegativeValue)</th>
            <th scope="col">@nameof(Habit.Streak)</th>
            <th scope="col">@nameof(Habit.Tags)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Habit task in Model.Habits)
        {
            <tr>
                <th scope="row">
                    <input type="checkbox"/>
                </th>
                <td>
                    @task.Name
                </td>
                <td>
                    @task.PositiveValue
                </td>
                <td>
                    @task.NegativeValue
                </td>
                <td>
                    @task.Streak
                </td>
                <td>
                    @string.Join(",", task.Tags.Select(a => a.Name))
                </td>
            </tr>
        }
    </tbody>
</table>