@model HomeViewModel

    <div class="col">
        @foreach (Tag task in Model.Tags)
        {
            <input hidden asp-for="@Model.Tag.Id" value="@task.Id"/>
            <input type=radio asp-for="@Model.Tag.Name" value="@task.Name" class="m-3" />
                <label asp-for="@Model.Tag.Name">@task.Name</label>
        }
    </div>
    <div class="col col-lg-3">
        <form method="post" action="@Url.Action("QuickAddTags", "Home")">
            <div class="mb-3 row">
                <input asp-for="@Model.Tag.Name" class="form-control" />
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>