@model HomeViewModel

<form method="post" >
    <div class="mb-3 row">
        <input asp-for="@Model.ToDo.Title" class="form-control" />
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<table class="table text-center" >
    <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">@nameof(ToDoTask.Title)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ToDoTask task in Model.ToDos)
        {
            <tr>
                <th scope="row">
                    <input type="checkbox" onclick="check(this, @task.Id, '@Url.Action("CheckTodo", "Task")')" />
                </th>
                <td>
                    @task.Title
                    <p style="font-size: 0.8em" class="m-0 p-0"><small>@string.Join(",", task.Tags.Select(a => a.Name))</small></p>
                </td>
            </tr>
        }
    </tbody>
</table>